body {
  font-family: sans-serif;
  font-size: 13px;
  background: pink;
}

h1 {
  text-align: center;
}

#app {
  width: 500px;
  margin: auto;
}

#messages_feed {
  background: black;
  height: 500px;
  color: white;
}

#message_tab_box {
  width: 500px;
  height: 100px;
}

#submit_btm {
  width: 100%;
  heigh: 100%;
}

#logo img {
  width: 300px;
}
